/* Body */
body {
    font-family: 'Open Sans', sans-serif;
    color: #000000; /* Black */
    background-color: #ffffff; /* White */
}


/* Container */
.container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}


/* Header (enclosing "FLOWERSHOP Label" and "Social Media Icons") */

.header {
    width: 70%;
    float: left;
    clear: both;
    margin: 5px 15%;
}

/* FLOWERSHOP Label */ 
.label {
    width: 400px;
    text-align: center;
    margin: auto;
    border: 3px solid #000000;
}
.label a:link, a:visited {
    text-decoration: none;
    color: #000000;
}
/* Change the link color to #999999 (light gray) on hover */
.label a:hover {
    color: #999999;
}

/* Social Media Icons */
.icons a:link, a:visited {
    text-decoration: none;
    color: #000000;
    position: relative;
    left: 750px;
    top: 20px;
}
/* Change the link color to #999999 (light gray) on hover */
.icons a:hover {
    color: #999999;
}



/* Navigation Bar (Horizontal) */
.nav {
    width: 70%;
    float: left;
    clear: both;
    margin: 40px 15%;
}
.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    text-align: center;
}
.nav li {
    float: left;
}
.nav li a:link, .nav li a:visited {
    display: inline-block;
    text-decoration: none;
    color: #000000; /* black */
    text-align: center;
    padding: 20px 20px;
}
/* Change the link color to #999999 (light gray) on hover */
.nav li a:hover {
    color: #999999;
}
/* Change the link to "text-decoration: underline" when active */
.nav li a:active {
    text-decoration: underline;
    color: #000000;
}


/* Main */
.main {
    width: 70%;
    float: left;
    clear: both;
    margin: 5px 15%;
}


/* Home Page "Roses Photo" */
.hroses {
    width: 650px;
    text-align: center;
    border: 1px solid #000000; /* black */
}


/* Home Page "Introduction" */
.intro {
    text-align: center;
}


/* Footers */
.footer {
    width: 70%;
    float: left;
    clear: both;
    margin: 5px 15%;
}
.fleft {
    width: 200;
    float: left;
}
.fright {
    width: 200;
    float: right;
}


/* Page Title */
.page {
    margin-top: 20px;
    margin-bottom: 30px;
    border-top: 3px solid #000000;
    padding-top: 30px;
    text-align: center;
}


/* Image Gallery */
div.gallery {
    margin: 5px;
    border: 1px solid #000000;
    float: left;
    width: 300px;
}
div.gallery:hover {
    border: 1px solid #999999;
}
div.gallery img {
    width: 100%;
    height: 200px;
}
div.desc {
    padding: 15px;
    text-align: center;
}


/* Image Gallery2 ("Orchid Page") */
div.gallery2 {
    margin: 5px;
    border: 1px solid #000000;
    float: left;
    width: 300px;
}
div.gallery2:hover {
    border: 1px solid #999999;
}
div.gallery2 img {
    width: 100%;
    height: 450px;
}
div.desc2 {
    padding: 15px;
    text-align: center;
}


/* Subtitle */
.sub {
    margin-top: 40px;
    clear: both;
    text-align: center;
}

/* Text */
.text {
    float: left;
    clear: both;
}


/* Sidebar (Order Page) */
.sidebar {
    width: 20%;
    float: left;
    margin: 5px 15%;
}


/* Image Gallery (Order Page: Sidebar) */
div.gallery3 {
    margin: 5px;
    border: 1px solid #000000;
    float: left;
    width: 160px;
}
div.gallery3:hover {
    border: 1px solid #999999;
}
div.gallery3 img {
    width: 100%;
    height: 95px;
}
div.desc3 {
    padding: 1px;
    text-align: center;
}


/* Main2 (Order Page) */
.main2 {
    float: left;
    margin: 5px;
}


/* Order Form - Product Checkbox Groupings (Main2 (Order Page)) */
.group {
    width:  400px;
}
ul.checkbox {
    margin: 0;
    padding: 0;
    margin-left: 20px;
    list-style: none;
}
ul.checkbox li input {
    margin-right: .25em;
}
ul.checkbox li {
    margin-right: .25em;
}
ul.checkbox li {
    border: 1px transparent solid;
}
ul.checkbox li label {
    margin-left: auto;
}


/* Order Form - Billing and Delivery Addresses (Main2 (Order Page)) */
.fieldset {
    width: 400px;
}
.legend {
    font-size: 20px;
}
label.field {
    text-align: right;
    width: 100px;
    float: left;
    font-weight: bold;
}
input.textbox-300 {
    width: 300px;
    float: left;
}
fieldset p {
    clear: both;
    padding: 5px;
}




/* Submit Button Styling */
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: #ffffff; /* White */
    padding: 16px 150px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: #4CAF50;
    color: #ffffff; /* White */    
}

.button1:hover {
    background-color: #ffffff; /* White */ 
    color: #000000; /* Black */ 
    border: 2px solid #4CAF50; /* Green */
}